.profile__avatar {
  z-index: -3;
  object-fit: cover;
  visibility: visible;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 0 0 0 0;
}
@media screen and (max-width: 690px) {
  .profile__avatar {
    margin: 0;
    /* margin: 69.85px auto 0; */
  }
}
