
.like {
  grid-area: like;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../../../src/image/like.svg);
}
.like:hover {
  opacity: 0.5;
}
