
.like {
  padding: 0;
  margin: 25px auto auto;
  position: relative;
  display: flex;
  grid-area: like;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../../../src/image/like.svg);
}
.like:hover {
  opacity: 0.5;
}
