.root {
  display: flex;
  justify-content: space-around;
  background-color: black;
  width: 100%;
  font-family: "inter", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
