.like__pseudo-element {
  display: block;
  width: 22px;
  cursor: pointer;
  height: 19px;
  background-image: url(../../../image/like.svg);
}
.like__element:checked + .like__pseudo-element {
  background-image: url(../../../image/like-black.svg);
}
.like__element:hover + .like__pseudo-element {
  opacity: 0.5;
}
