.popup-img {
  display: inline-block;
    transition: all 1s ease-in-out;
  z-index: 1;
  max-height: 75vh;
  position: relative;
  max-width: 75vw;
  margin: 0 auto;
  border-radius: 10px;
  text-align: left;
}
@media screen and (max-width: 570px) {
  .popup-img {
    max-height: 75vh;
    max-width: 75vw;
    height: 299px;
    width: 240px;
    margin: 0 40px;
  }
}
