.input-container__submit-item {
  width: 100%;
  height: 50px;
  border: 0;
  padding: 0;
  cursor: pointer;
  font-family: "inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  background-color: #000;
}

.input-container__submit-item:hover {
  opacity: 0.8;
}
@media screen and (max-width: 570px) {
  .input-container__submit-item {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
