.element {
  height: 100%;
  width: 100%;
  max-height: 361px;
  max-width: 282px;
  
  position: relative;
  display: grid;
  grid-template-columns: 1fr 44px;
  grid-template-rows: 77% 23%;
  gap: 0;
  grid-template-areas:
    "img img"
    "figcaption like";
  align-items: center;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}
/* @media screen and (max-width: 620px) {
  .element {
    max-height: 48vw;
    max-width: 38vw;
  }
}  */
/* @media screen and (max-width: 425px) {
  .elements {
    grid-template-columns: 1fr;
    grid-auto-rows: 361px;
    gap: 20px;
  }
}  */
