.profile-info {
  display: flex;
  flex-wrap: wrap;
  margin: auto 0;
  color: #ffffff;
  max-width: 336px;
}
@media screen and (max-width: 690px) {
  .profile-info {
    margin: 0 auto;
    max-width: 282px;
  }
}
