.footer__title {
  font-family: "inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}
@media screen and (max-width: 767px) {
  .footer__title {
    font-size: 14px;
    line-height: 17px;
  }
}
