.profile-info {
  display: flex;
  flex-wrap: wrap;
  margin: auto 0 auto 30px;
  color: #ffffff;
  max-width: 556px;
  min-width: 300px;
}
@media screen and (max-width: 690px) {
  .profile-info {
    margin: 0 auto;
    max-width: 282px;
    min-width: 269px;
  }
}
