.profile {
  display: flex;
  flex-direction: row;
  margin: 81px auto 51px;
  max-width: 68.75%;
}
@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    margin: 0 auto ;
    max-width: 100%;
  }
}
