.profile {
  display: flex;
  flex-direction: row;
  margin: 36px auto 47px;
  max-width: 68.75%;
}
@media screen and (max-width: 1023px) {
  .profile {
    max-width: 703px;
  }
}
@media screen and (max-width: 690px) {
  .profile {
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
  }
}
