.input-container {
  display: block;
  max-width: 100%;
  margin: 54px 0 0;
  border: 0;
  padding: 0;
}
@media screen and (max-width: 570px) {
  .input-container {
    max-width: 238px;
    margin-top: 75px;
  }
}
